.tab {
    margin: 10px 2px 0px 10px;
}

h1 {
    color: rgb(15, 15, 95);
    text-align: center;
}

table {
    margin: 20px dotted;
    background-color: gray;

}

th {
    text-decoration: bold;
    background-color: gray;
    border: 1px solid black;
}

td {
    background-color: gray;
    color: white;
    padding: 10px;
    border: 1px solid black;
    font-size: small;
    color: yellow;
}